Flask
gunicorn
transformers
torch  # Required for GPT-2 (PyTorch backend)
google-generativeai
langchain
langchain-community  # New package required for FAISS
langchain-google-genai
faiss-cpu
PyPDF2
speechrecognition
pyttsx3
google-cloud-vision
rank-bm25
