flask
gunicorn
transformers
torch 
google-generativeai
langchain
langchain-community  # Fixes FAISS error
langchain-google-genai
pypdf2
speechrecognition
gtts  # Replacing pyttsx3
google-cloud-vision
rank-bm25
